@font-face {
	font-family: Bought;
	src: url(Bough-Regular.otf);
}

@font-face {
	font-family: Brush;
	src: url(brush-up.ttf);
}

@keyframes appear {
	from { height: 0px; }
	to { height: 100px; }
}

@keyframes fadein {
	from { opacity: 0 }
	to { opacity: 1 }
}

@keyframes scroll{
	50%{transform: translateY(15px)}
	to{transform: translateY(0px)}
}


* {
	font-family: 'Oswald', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	z-index: 1;
	text-decoration: none;
}

a{
	color: inherit;
}

body{
	xanimation: fadein 1.5s linear;
	min-width: 810px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


.mobile-menu{

    position: fixed;
    z-index: 992;
    display: none;
    width: 426px;
    height: 70px;
    background: white;
}

.mobile-menu ul{
    background: #014cc5;
    padding-bottom: 3px;

    width: 426px;
}



.mobile-menu ul li.head i{

}

.mobile-menu ul li.head {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
text-align: left;
    font-size: 35px;
    line-height: 67px;
    padding-left: 20px;
}

.mobile-menu ul li{
    border-bottom: 1px solid rgba(0,0,0,0.07);
    text-align: center;
    font-size: 20px;
    background: white;
    list-style: none;
    width: 100%;
    height: 70px;
    line-height: 70px;
}

.mobile-menu ul li img{
    filter: contrast(1.3);
    margin-top: 10px;
    margin-right: 190px;
    height: 50px;
    float: right;
}


.mobile-menu ul li.hidden{
    font-size: 20px;
display: none;
    height: 50px;
    line-height: 50px;
}




.menu-area{
    position: fixed;
	width: 160px;
	height: 100vh;
	background: white;
	float: left;
	text-align: center;
}

.menu-area img{
    filter: contrast(1.3);
	margin-top: 30px;
	width: 90px;
	margin-bottom: 40px;
}

.main-menu{
	width: 100%;
}

.main-menu li{
	padding-top: 2px;
	padding-bottom: 4px;
	color: black;
}

.main-menu li:hover{
	background: #e5e5e5;
}




.main-menu a{
	text-decoration: none;

	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
}

.content-area{
	z-index: 29;
	float: right;
	width: calc(100% - 160px);
	background: white;
}

.bottom-menu{
	position: absolute;
	bottom: 15px;
	width: 100%;
}

.bottom-menu li{
	opacity: 0.8;
	width: auto;
	height: 27px;
	line-height: 25px;
	padding-left: 7px;
	padding-right: 6px;

	color: black;
	font-size: 12px;
	letter-spacing: 1px;
	display: inline-block;
}

.bottom-menu li.lang{
	margin-bottom: 20px;
	border: 1px solid rgba(0,0,0,0.25);
}

.bottom-menu li i{
	opacity: 0.9;
	display: inline-block;
	width: 27px;
}

.bottom-menu li a{
	text-decoration: none;
	font-size: 18px;
}


.add-menu{
	z-index: 34;
	text-align: center;
	display: none;
	width: 150px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 160px;
	background: #f2f2f2;
}

.add-menu ul{
	width: 100%;
}

.add-menu i{
	font-size: 60px;
}

.add-menu ul li{
	height: 30px;
	line-height: 28px;
	width: 100%;
	display: inline-block;
	list-style: none;
	color: white;
}

.add-menu ul li.head-img{
	padding-top: 50px;
	height: 160px;
}

.add-menu ul li i{
	color: black;
}

.add-menu ul li a{
	text-decoration: none;
	color: black;
	font-size: 14px;
	font-weight: 500;
}








.add-content-menu{
	text-align: center;
	width: 150px;
	height: 100vh;
	position: fixed;
	background: #f2f2f2;
}

.add-content-menu ul{
	width: 100%;
}

.add-content-menu i{
	font-size: 60px;
}

.add-content-menu ul li{
	height: 30px;
	line-height: 28px;
	width: 100%;
	display: inline-block;
	list-style: none;
	color: white;
}

.add-content-menu ul li.head-img{
	padding-top: 50px;
	height: 160px;
}

.add-content-menu ul li i{
	color: black;
}

.add-content-menu ul li a{
	text-decoration: none;
	color: black;
	font-size: 14px;
	font-weight: 500;
}












.section-1{
	overflow: hidden;
	width: 100%;
	height: 100vh;
	background-color: white;
}

#s-1-background{
	height: 120vh;
	width: 100%;
	background-image: url(../../../images/IMG_6540-2.jpg);
	background-size: cover;
}

#s-1-content{
	text-align: center;
	font-size: 100px;
	color: white;
	width: 100%;
	height: 100vh;
	line-height: calc(100vh - 50px);
	background: rgba(0,0,0,0.4);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 10%, rgba(0,0,0,0.85) 100%);
}

.s-1-content-left{
	padding-top: calc(60vh - 100px);
	border-top: 1px solid transparent;
	padding-left: 50px;
	height: 100%;
	width: 40%;
	xbackground: grey;
}

.s-1-content-left-date{
	opacity: 0.5;
	text-align: left;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
	width: 100%;
	height: 50px;

}

.s-1-content-left-date a{
	text-decoration: none;
	color: white;
}

.s-1-content-left-title{
	font-weight: 400;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 50px;
	width: 100%;
	height: 55px;
	line-height: 50px;
	text-align: left;
}

.s-1-content-left-news-item{
	display: block;
	text-decoration: none;
	color: white;
	width: 33.333%;
	height: 20vh;
	background: grey;
	float: left;
	box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
}

.s-1-content-left-news-item img{
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
}

.s-1-content-left-news-item-overflow{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: calc(20vh - 70px);
	width: 100%;
	height: 20vh;
	margin-top: -20vh;
	opacity: 0.999;
	background: rgba(0,0,0,0.5);
}

.s-1-content-left-news-item-date{
	text-align: left;
	width: 100%;
	height: 30px;
	line-height: 35px;
	font-size: 13px;
	text-transform: uppercase;
}

.s-1-content-left-news-item-title{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: left;
	width: 100%;
	height: 40px;
	line-height: 25px;
	font-size: 20px;
}



.section-2{
	overflow: hidden;
	padding-top: 50px;
	opacity: 0.9999;
	z-index: 2;
	width: 100%;
	height: 650px;
	background-color: white;
}



.section-2-content{
	text-align: center;
	margin: 0 auto;
	width: 100%;
	max-width: 900px;
	height: 100%;

	background-color: white;
}

.section-2-content-left, .section-2-content-right{
	padding: 0 50px 0 50px;
	float: left;
	width: calc(50% - 1px);
	height: 250px;
}

#s-2-content-scroll{
	transition: 0.3s;
	text-align: center;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	margin-top: 40px;
	width: 200px;
	height: 200px;
	opacity: 1;
	animation: scroll 1s linear infinite;
}

#section-2-content-divider{
	opacity: 0;
	height: 250px;
	width: 2px;
	background: #014cc5;
	float: left;
	transition: 3s;
}

.section-2-content-left{
	padding-top: 7px;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 70px;
	font-size: 45px;
	text-align: right;
	
}
.section-2-content-right{
	text-align: left;
	line-height: 32px;
	font-weight: 400;
	padding-top: 11px;
	font-size: 21px;
}

#s-2-content-right{
	opacity: 0;
	transition: 1s;
	transform: translateX(2000px);
}

#s-2-content-left{
	opacity: 0;
	transition: 1s;
	transform: translateX(-2000px);
}

.s-2-content-item{
	transform: translateY(500px);
	text-decoration: none;
	color: black;
	font-size: 20px;
	margin-top: 45px;
	margin-left: 25px;
	margin-right: 25px;
	display: inline-block;
	width: 200px;
	height: 240px;
	transition: 1s;
	xbackground: green;
}




.section-3{
	padding-top: 120px;
	width: 100%;
	height: 600px;
	background: #262626;
	background-image: url(../../../images/2017-09-24%2011.09.38%202.jpg);
	background-size: cover;
	background-attachment: fixed;
}

#section-3-content-match-container{
	margin: 0 auto;
	width: 90%;
	max-width: 700px;
	height: 340px;
	overflow: hidden;
}

#section-3-content-match-line{
	transition: 0.3s;
	float: right;
	width: 10000%;
	height: 340px;
	xbackground: green;
}

.section-3-content-match-item{
	height: 340px;
	width: 1%;
	background: white;
	float: right;
}

.section-3-content-match-item-team, .section-3-content-match-item-result{
	padding: 20px;
	padding-top: 80px;
	font-size: 25px;
	text-align: center;
	width: 33.333%;
	height: 340px;
	float: left;
	xbackground: blue;
}


.section-3-content-match-item-team img{
	margin-bottom: 20px;
	width: auto;
	height: 150px;

}

.section-3-content-match-item-result{
	font-weight: 500;
	padding-top: 30px;
	font-size: 35px;
}

span.score{
	padding-top: 20px;
	font-weight: 400;
	font-size: 100px;
}

span.date{
	font-weight: 400;
	opacity: 0.5;
	line-height: 81px;
	text-transform: uppercase;
	font-size: 18px;
}

.s-3-buttons{
	font-weight: 300;
	color: white;
	font-size: 22px;
	width: 300px;
	height: 50px;
	xbackground: grey;
	margin: 0 auto;
	margin-top: 25px;
	text-align: center;
	line-height: 50px;
	text-transform: uppercase;
}

.s-3-buttons button{

	color: white;
	cursor: pointer;
	display: inline-block;
	height: 50px;
	font-size: 25px;
	width: 50px;
	margin-right: 10px;
	margin-left: 10px;
	background: none;
	border: none;
	outline: none;
}




.section-4{
	font-weight: 500;
	padding-top: 30px;
	text-transform: uppercase;
	font-size: 35px;
	text-align: center;
	width: 100%;
	height: 1210px;
	background: white;

}

#head-table{
	margin-top: 30px;
}


.tournament-table{
	text-transform: capitalize;
	margin: 0 auto;
	width: 90%;
	max-width: 700px;
}

.tournament-table td{
	width: 50px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	border-bottom: 1px solid white;
	background: #e2e2e2;
	color: black;
}

.tournament-table tr{
	background: #ebebeb;
}

td.team{
	padding-left: 20px;
	width: auto;
	color: black;
	background: none;
	text-align: left;
}

td.games{
	font-size: 16px;
	color: black;
	background: none;

}

td.score{
	font-size: 16px;
	color: black;
	background: none;
}

.tournament-table td img{
	opacity: 0.75;
	margin-top: 3px;
	margin-right: 15px;
	display: block;
	float: left;
	width: 20px;
	height: 20px;
	object-fit: cover;
	filter: contrast(1.5);
}

.tournament-table a{
	pointer-events: none;
	font-size: 15px;
	color: black;
	text-decoration: none;
	font-weight: 400;
}

.ars{
	display: none;
}


.section-5{
	width: 100%;
	height: 600px;
	position: relative;
	background-color: white;
}

.section-5-content{
	width: 100%;
	height: 100%;
}




@import url(https://fonts.googleapis.com/css?family=Varela+Round);


.slides {
	padding: 0;
	width: 100%;
	height: 100%;
	display: block;
	margin: 0 auto;
	position: relative;
}

.slides * {
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
	overflow: hidden;
	top: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	transform: scale(0);
	transition: all .7s ease-in-out;
}

.slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.nav label {
	width: 100px;
	height: 100%;
	display: none;
	position: absolute;
	opacity: 0;
	z-index: 9;
	cursor: pointer;
	transition: opacity .2s;
	color: black;
	font-size: 80px;
	text-align: center;
	line-height: 600px;
	font-family: "Varela Round", sans-serif;
	background-color: rgba(255, 255, 255, .3);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
	opacity: 1;

	transform: scale(1);

	transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 7px;
	height: 7px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: white;
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0,0,0,0.7);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: black;
}




/*.omg-content{*/
	/*position: relative;*/
	/*margin-bottom: 180px;*/
	/*z-index: 50;*/
	/*box-shadow: 5px;*/
/*}*/
.section-footer{
	position: fixed;
	width: 100%; 
	height: 180px;
	bottom: 0;
	left: 0px;
	z-index: 10;
	background-image: url(foot.jpg);
	background-position: bottom;
	background-size: cover;
	text-align: center;
	padding-top: 40px;

}
.section-footer h1{
	font-size: 14px;
	color: white;
	font-weight: 400;
}
.section-footer h1:hover{
	cursor: default;
}
.section-footer a i{
	font-size: 45px;
	color: white;
	padding-bottom: 35px;
	font-weight: 400;
	transition: 2s;
	padding-top: 10px;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

#arr:hover{
	animation: bounce 2s infinite;
	color: blue;
}

/*STADIUM*/

.stadium-content{

	height: 100vh;
	width: 100%;
	background: grey;
	background-image: url(../../../images/IMG_6833.jpg);
	background-size: cover;
	background-position: center;
}




.stadium-content-block-content{
	overflow: hidden;
	text-align:center;
	font-size: 23px;
	color: black;
	padding-top: 10px;
	width: 400px;
	height: 100%;
	float: right;
	background: rgba(255,255,255,1);

}


.stadium-content-block-content .header-spacer{
	background: transparent;
}


.text-info{
	overflow: auto;
	color: black;
	font-weight: 400;
	text-align: left;
	width: 100%;
	height: calc(100vh - 300px);

	padding: 30px;
	font-size: 16px;
	line-height: 22px;

}

.short-info{
	margin-top: 40px;
	text-align:left;

	color: black;
	opacity: 0.8;
	line-height: 25px;
	font-weight: 400;
	font-size: 13px;
	width: 100%;
	padding: 20px;
	padding-left: 31px;
}

.short-info i{
	line-height: 25px;
	margin-right: 5px;
	font-size: 15px;
	width: 30px;
	height: 25px;

	display: block;
	text-align: center;
	float: left;
}


/*CLUB*/

.club-page{
	width: 100%;
}

.club-page-content{
	width: 100%;
	float: left;

}

.history-slide{
	background-image: url(../../../images/hist-photo.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	width: 100%;

}




#history-slide-header{
	cursor: default;
	user-select: none;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 70px;
	line-height: 100vh;
	width: 100%;
	height: 100vh;
	color: white;
	background: rgba(0,0,0,0.3);
	transition: 1.5s;

}

#history-slide-header a{
	cursor: pointer;
	padding: 5px;
	font-size: 25px;
	transition: .4s;
	
}
#history-slide-header a:hover{
	font-size: 30px;

}

.history-slide-header:hover{
	background: rgba(0,0,0,0.935);
}

#history-slide-info{
	padding-left: calc(50% - 325px);
	padding-right: calc(50% - 325px);
	transition: 1.5s;
	width: 100%;

	text-align: center;
	padding-bottom: 50px;
	padding-top: 75px;
	background: rgba(0,0,0,0.3);
}

#history-slide-info img{
	filter: contrast(1.2);
	margin-top: 500px;
	margin-bottom: 150px;
	width: 250px;
}

.club-logo{
	width: 100%;
}

.text-left, .text-right{
	text-align: left;

	width: 650px;
	display: inline-block;
	margin-bottom: 30px;

	color: white;
	xbackground: brown;
}


.text-t{
	display: inline-block;
	float: left;
	width: 500px;

	color: white;
	xbackground: grey;


}


/*
.chrono-line{
z-index: 10;
position: absolute;
right: calc(50% - 325px);
height: 2720px;
width: 2px;
background: white;
float: right;
}
*/

.text-year{

	position: relative;
	z-index: 27;
	border: 2px solid white;
	font-size: 23px;
	text-align: center;
	line-height: 80px;
	float: right;
	width: 80px;
	height: 80px;
	border-radius: 100px;
	background: black;

}




/*ALBUM*/


.album-page{
	text-align: center;
	width: 100%;
}

.content-album-item-main-1-title{
	text-transform: uppercase;
	clear: both;
	text-align: center;
	margin-top: 5px;
	color: black;
	font-size: 32px;
	letter-spacing: 1px;
	line-height: 70px;
	height: 50px;
	width: 100%;
}

.content-album-item-main-1-title-2{
	text-transform: uppercase;
	clear: both;
	text-align: center;
	margin-top: 0px;
	color: black;
	font-size: 32px;
	letter-spacing: 1px;

	padding-top: 10px;
	line-height: 70px;
	height: 70px;
	width: 100%;
}

.content-album-item-main-1-spacer{
	margin-top: 15px;
	margin-left: 30px;
	width: 70px;
	height: 3px;
	margin-bottom: 5px;
	background: white;
}




.album-item{
	overflow: hidden;
	float: left;
	width: 33.333%;
	height: 350px;
	display: block;
	background: grey;
}

.album-item img{
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
	transition: 0.3s;
}

.album-item:hover img{
	transform: scale(1.05);
}

.album-item:hover .album-item-info{
	background: linear-gradient(190deg, rgba(0,0,0,0) 0%, #005dad 80%);
}


.album-item-info{
	transition: 0.3s;
	padding-right: 30px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	letter-spacing: 1px;
	padding-top: 290px;
	padding-left: 30px;
	text-align: left;
	color: white;
	font-size: 25px;
	width: 100%;
	height: 350px;
	background: linear-gradient(200deg, rgba(0, 93, 173, 0) 40%, rgba(0, 93, 173, 1) 100%);
	opacity: 0.9999;
	margin-top: -350px;
}

.album-item-info-video{
	transition: 0.3s;
	padding-right: 30px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	letter-spacing: 1px;

	padding-left: 30px;
	text-align: left;
	color: white;
	font-size: 25px;
	width: 100%;
	height: 350px;
	background: rgba(0,0,0,0.5);
	opacity: 0.9999;
	margin-top: -350px;
}


.album-item-info-video i{
	line-height: 355px;
	height: 265px;
	color: white;
	font-size: 100px;
	display: block;
	text-align: center;
	transition: 0.3s;
}
.album-item-info-video:hover i{

	color: red;

}






.my-gallery {
	margin-bottom: 20px;
	width: 100%;
	float: left;
	text-align: center;
}
.my-gallery img {
	width: 100%;
	height: 100%;
	object-fit:cover;
}
.my-gallery figure {

	display: inline-block;
	height: 200px;
	width:25%;
}
.my-gallery figcaption {
	display: none;
}

#selected-album-gallery{
	width: 100%;
}

#selected-album-gallery-item{
	margin-left:15px;
	margin-right:15px;
	display:inline-block;

	width: 300px;
	height: 230px;
}

.album-gallery iframe{
	width: 100%;
	height:100vh;
	margin: 0;
}




/*NEWS*/

.news-page{
	float: right;
	width: calc(100% - 150px);
	background: white;
	animation: appear 1s linear;
}


.content-news-item-main-1{

	display:block;
	overflow: hidden;
	float: left;
	width: 50%;
	height: 650px;

}

.content-news-item-main-1 img{
	transition: 0.5s;
	z-index: 14;
	width: 100%;
	height: 650px;
	display: block;

	object-fit: cover;
}

.content-news-item-main-1-content{

	border-top: 1px solid transparent;
	opacity: 0.9999;
	z-index: 17;
	margin-top: -650px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
}

.content-news-item-main-1-title{
	font-weight: 700;
	margin-top: 40px;
	color: white;
	font-size: 20px;
	letter-spacing: 1px;
	margin-left: 60px;
	line-height: 70px;
	height: 50px;
	width: 100%;
}



.content-news-item-main-1-spacer{
	opacity: 1;
	margin-top: 7px;
    margin-left: 60px;;
	width: 50px;
	height: 2px;
	background: white;
}

.content-news-item-main-1-title-add{

	margin-top: 20px;
	color: black;
	font-size: 32px;
	letter-spacing: 1px;
	padding-left: 30px;
	line-height: 90px;
	height: 50px;
	width: 100%;
}



.content-news-item-main-1-spacer-add{
	clear: both;
	margin-top: 15px;
	margin-left: 30px;
	width: 70px;
	height: 3px;
	background: black;
}

.content-news-item-main-1-news-title{
    padding-right: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	line-height: 30px;
	margin-top: 400px;
	color: white;
	font-size: 32px;
	letter-spacing: 1px;
	margin-left: 60px;
	padding-right: 30px;
	width: 100%;

}

.content-news-item-main-1-news-date{
	font-weight: 400;
	opacity: 0.7;

	color: white;
	font-size: 13px;
	margin-left: 60px;
	line-height: 20px;
	height: 20px;
	width: 100%;
	margin-top: 4px;

}



.content-news-item-main-2{
	display:block;
	overflow: hidden;
	float: left;
	width: 25%;
	height: 650px;

}
.content-news-item-main-2 .content-news-item-main-1-news-title{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 30px;
	margin-top: 499px;
	padding-left: 0px;
	margin-left: 30px;

}

.content-news-item-main-2 .content-news-item-main-1-news-date{
	margin-left: 30px;
}

.content-news-item-main-3 .content-news-item-main-1-news-date{
	margin-left: 30px;
}

.content-news-item-main-2 img{
	transition: 0.5s;
	z-index: 14;
	width: 100%;
	height: 650px;
	display: block;

	object-fit: cover;
}

.content-news-item-main-3{
	display:block;
	overflow: hidden;
	float: left;
	width: 25%;
	height: 650px;

}

.content-news-item-main-3 .content-news-item-main-1-news-title{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 30px;
	margin-top: 499px;
	padding-left: 0;
	margin-left: 30px;

}

.content-news-item-main-3 img{
	transition: 0.5s;
	z-index: 14;
	width: 100%;
	height: 650px;
	display: block;

	object-fit: cover;
}


.content-news-item-main-3:hover img{
	transform: scale(1.05);
}

.content-news-item-main-2:hover img{
	transform: scale(1.05);
}

.content-news-item-main-1:hover img{
	transform: scale(1.05);
}

.news-page-left{
	font-size: 25px;
	padding-top: 20px;
	padding-left: 20px;
	float: left;
	width: 20%;

}

#news-page-gallery{
	margin-top:0px;
	float: right;
	width: 80%;
	background: white;
	border-bottom: 1px solid white;

}

.news-block{
	overflow: hidden;
	float: left;
	display: block;
	width: 25%;
	height: 300px;
	background: orange;
	transition: 0.5s;


}
.news-block:hover{

}

.news-block:hover img{
	transform: scale(1.1);
}

.news-block img{
	transition: 0.5s;
	z-index: 14;
	width: 100%;
	height: 300px;
	display: block;
	object-fit: cover;
}

.news-block-content{
	border-top: 1px solid transparent;
	opacity: 0.9999;
	z-index: 17;
	margin-top: -300px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.35);
}

.news-block-content .title{
	line-height: 25px;
	margin-top: 230px;
	color: white;
	font-size: 25px;
	letter-spacing: 1px;
	padding-left: 20px;
	padding-right: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
}

.news-block-content .date{
	opacity: 0.7;
	margin-top: 2px;

	color: white;
	font-size: 14px;
	padding-left: 20px;
	line-height: 20px;
	height: 20px;
	width: 100%;

}

#show-more{
	width: 100%;

	background: white;
}

.show-more-button{
	box-sizing: content-box;
	clear: both;
	margin: 0 auto;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-right: 310px;
	text-align: center;
	line-height: 45px;
	font-size: 17px;
	color: black;
	width: 150px;
	height: 40px;
	xbackground: grey;
	display: block;
}



.ars-kids{
	text-align:center;
	padding-top:180px;
	display:block;
	width:100%;
	height:800px;
    background: linear-gradient(to right, #ff4b1f, #1fddff);


}

.ars-kids img{
	width:300px;

}




.team-page{
	width: 100%;

}

.team-photo{
	background-size: cover;
    background-position: 50% 25%;
	width: 100%;
	height: 600px;

}


.team-page-content{
	float: right;
	width: calc(100% - 150px);
	background: white;
}

.team-line{
	width: 100%;
	clear: both;
	xbackground: red;
}

.cat-item{
	float: left;
	color: black;

	font-size: 30px;
	line-height: 90px;
	padding-left: 20px;
	width: 100%;
	height: 90px;
	background: white;
}
.cat-item i{
	text-align: center;
	font-size: 130px;
	display: block;
	width: 100%;
	height: 130px;
	margin-top: 90px;
	margin-bottom: 50px;
	xbackground: green;
}


#team-line-id .position{

	font-weight: 400;
	font-size: 20px;
	opacity: 0.8;
	padding-left: 25px;
	line-height: 25px;
}

#team-line-id .player-item-name{
	margin-top: 10px;
	width: 100%;
}

.player-item{
	color: white;
	animation: appear 1s linear;
	transition: 0.5s;
	float: left;
	display: block;
	width: 20%;
	height: 380px;
	background: #005dad;
}

.player-item-photo{  
	overflow: hidden;
	width: 100%;
	height: 300px;
	background: white;
}

.player-item-photo img{
	transition: 0.5s;
	filter: contrast(1.2);
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
}

.player-item:hover img{
	transform: scale(1.05);
}

.player-item-surname, .player-item-name{

	font-weight: 500;
	font-size: 20px;
	padding-left: 25px;
	line-height: 27px;
	width: calc(100% - 80px);
	height: 27px;
	xbackground: brown;

}

.player-item-surname{
	margin-top: 12px;
	float: left;
}


.player-item-number{
	text-align: center;
	font-size: 50px;
	color: white;
	float: right;
	width: 80px;
	height: 80px;
	line-height: 75px;
	background: black;
}




.selected-news-page{

	width: 100%;
	background: white;
}

.selected-news-photo{
	width: 100%;
	height: 500px;
	background: black;
}

.selected-news-title{
	padding-left: 70px;
	color: white;
	font-size: 50px;
	width: 100%;
	height: 150px;
	xbackground: black;
	opacity: 0.999;
	margin-top: -150px;
}

.selected-news-date{
	line-height: 12px;
	font-size: 18px;


}

.selected-news-photo img{
	opacity: 0.8;
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
}

.selected-news-text{
	padding-top: 40px;
	padding-bottom: 50px;
	font-size: 16px;
	font-weight: 400;
	padding-left: 20px;
	padding-right: 20px;

	width: 840px;
	margin: 0 auto;
}

.selected-news-text p{

	padding-bottom: 30px;
}

.selected-news-text b{

}

.selected-news-text p{

	padding-bottom: 30px;
}

.selected-news-text p.text-photo{
	font-size: 15px;
	text-align: center;
}

.selected-news-text h2{
	padding-bottom: 15px;
	font-size: 40px;
	letter-spacing: 1px;
}

.selected-news-text img{
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
	margin-top: 20px;
	width: 500px;
}

.selected-news-text iframe{
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 800px;
	height: 600px;
}



.player-page{

	width: 100%;
	height: 100vh;
	background: grey;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.player-content{
	width: 100%;
	height: 100%;
	xbackground: black;
	background: linear-gradient(to right, rgba(0,0,0,0.01) 40%, rgba(41,43,56,1) 85%);
}

.content-left{
	padding-top: 20px;
	color: white;
	background: linear-gradient(to right, rgba(41,43,56,1) 20%, rgba(0,0,0,0.01) 90%);
	padding-left: 50px;

	font-size: 15px;
	width: 40%;
	height: 100%;
	float: left;
	xbackground: grey;
}

.content-left img{
	margin-left: 2px;
}

.content-left-header{
	display: none;
	padding-top: 50px;
	letter-spacing: 2px;
	color: white;
	font-size: 40px;
	float: left;
	width: 100%;
	height: 105px;
	xbackground: blue;
}

.content-left-text{
	display: none;
	width: 340px;

	font-size: 16px;
	xbackground: red;
}


.content-right{

	padding-top: 15px;
	width: 50%;
	height: 100%;
	float: right;
	xbackground: blue;
}

.content-right-name{
	text-transform: uppercase;
	padding-right: 0px;
	text-align: right;
	padding-top: 43px;
	letter-spacing: 2px;
	color: white;
	font-size: 40px;
	float: right;
	line-height: 45px;
	height: 150px;
	xbackground: green;
}

.content-right-number{
	margin-right: 40px;
	line-height: 168px;
	text-align: right;
	padding-left: 20px;
	color:white  ;
	font-size: 97px;
	float: right;

	height: 150px;
	xbackground: orange;
}


.content-item{
	color: #005dae;
	margin-bottom: 10px;
	margin-right: 40px;
	text-align: right;
	font-size: 55px;
	line-height: 45px;
	float: right;
	width: 400px;
	height: 100px;
	xbackground: brown;
	clear: both;
}

.content-item-value{
	opacity: 0.9;
	color: white;
	padding-right: 5px;
	font-size: 15px;
	line-height: 55px;
	width: 100%;
	height: 40px;
	xbackground: green;
}



/* new cont */

#map{
	display: inline-block;
	float: left;
	height: 100%;
	width: 75%;
	padding-top: 100px;
}
.contacts{
	height: 100%;
	width: 100%;
}

.backgr{
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100%;
	filter: brightness(50%) blur(2px);
}
.cont-text{
	position: relative;
	z-index: 3;
}
.right-cont{
	height: 100%;
	width: 25%;
	background-color: white;
	float: right;
	overflow: hidden;
	position: relative;
	display: inline-block;
	-webkit-box-shadow: 0px 0px 76px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 76px -3px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 76px -3px rgba(0,0,0,0.75);

}

.right-cont #cont-title{
	color: #010101;
	font-size: 35px;
	text-transform: uppercase;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 10px;
}

.liner{
	width: 100%;
	height: 45px;
	margin-top: 15px;
	padding-left: 15px;
}
.add-left{
	width: 20%;
	height: 45px;
	line-height: 45px;
	display: inline-block;
	text-align: center;
}
.add-left i{
	height: 45px;
	line-height: 45px;
	font-size: 30px;
	color: #010101;
}
.add-right{
	width: 80%;
	height: 45px;
	float: right;
	display: inline-block;
	line-height: 45px;
}
.add-right h1{
    font-weight: 400;
	color: #010101;
	font-size: 20px;
	height: 45px;
	text-align: justify;
}

/*new cont end*/





@media only screen and (max-device-width : 425px)
{

    #s-2-content-scroll{
        display: none;
        opacity: 0;
        visibility: hidden;
    }

    .content-area{
        width: 426px;
        float: none;
    }

	body{
        max-width: 426px;
		min-width: 0;
	}

    .mobile-menu {
        display: block;
    }

    .menu-area {
        display: none;
    }

    .add-content-menu{
        display: none;
    }
    .content-area{
        width: 426px;
    }

    .s-1-content-left-title{
        display: none;
    }

    .s-1-content-left-date{
        display: none;
    }


    .section-1{
        padding-top: 70px;
        height: auto;
    }

    .s-1-content-left{
		padding: 0;
		width: 426px;
		padding-top: 0px;
	}
	.s-1-content-left-title{
        width: 426px;
		text-align: center;
	}
	.s-1-content-left-date{
		text-align: center;
		height: 40px;
	}
	.s-1-content-left-news-item{
		width: 426px;
        height: 400px;
	}

    .s-1-content-left-news-item-date{

        font-size: 15px;
        width: 426px;
        text-align: left;
        padding: 0;
        margin: 0;
        padding-left: 30px;
        padding-right: 30px;
    }

    .s-1-content-left-news-item-title{

        font-size: 30px;
        width: 426px;
        text-align: left;
        padding: 0;
        margin: 0;
        padding-left: 30px;
        padding-right: 30px;
    }


    .s-1-content-left-news-item-overflow{
        padding: 0;
        padding-top: 300px;
		margin-top: -400px;
		height: 400px;
	}

	.section-2{
        width: 426px;
		height: 520px;
		background-color: white;
        padding-top: 20px;
	}

	.section-2-content-left{
        padding-top: 0;
		padding-left: 20px;
		width: 150px;
		padding-right: 15px;
		font-size: 25px;
        line-height: 27px;
		font-weight: 900;

	}
	.section-2-content-right{
		width: 272px;
		padding-right: 20px;
		padding-left: 20px;
		padding-top: 0px;
		font-size: 18px;
		line-height: 20px;
		font-weight: 400;

	}
	#section-2-content-divider{
		height: 225px;
	}

	.s-2-content-item{
        text-align: center;
        margin: 0;
        width: 200px;
		margin-top: 30px;
	}

    .s-2-content-item img{
        width: 150px;
        margin-bottom: 10px;
    }

	.section-3-content-match-item-team{
		padding-top: 20px;
		font-size: 20px;
	}

	.section-3-content-match-item-team img{
		margin-top: 10px;
		width: 80px;
		height: 80px;
	}

	.section-3-content-match-item-result{
		font-size: 18px;
	}

	span.score{
		font-size: 30px;
		font-weight: 700;
	}

	#section-3-content-match-container{
		height: 212px;
	}

	.section-3{
		height: 355px;
		padding-top: 44px;
	}

	.tournament-table{
		width: 426px;
	}

    .tournament-table a{
        font-size: 20px;
    }

    .tournament-table td {
        font-size: 20px;
    }

    .tournament-table td img{
        margin-top: 6px;
    }

	.section-4{
        font-size: 30px;
		height: 1300px;
	}



    .news-page{
        padding-top: 70px;
        width: 426px;
    }

    .news-page-left{
        width: 426px;
        height: 70px;
        padding: 0;
        margin: 0;
        text-align: center;
        line-height: 70px;
    }

    #news-page-gallery{
        width: 426px;
    }

    .show-more{
        width: 426px;

    }

    .show-more-button{
        width: 426px;
        margin: 0;
        padding: 0;
        padding-top: 10px;
        padding-bottom: 15px;
    }


    .content-news-item-main-1{
        height: 400px;
    }

    .content-news-item-main-2{
        height: 400px;
    }

    .content-news-item-main-3{
        height: 400px;
    }

    .content-news-item-main-1-title{
        font-size: 25px;
       margin-top: 5px;
        margin-left: 30px;
    }



    .content-news-item-main-1-spacer{
        margin-top: 15px;
        margin-left: 30px;
    }

    .content-news-item-main-1-news-title{
        margin-top: 220px;
        margin-left: 30px;
    }

    .content-news-item-main-1-news-date{
        font-size: 20px;
        margin-top: 10px;
        margin-left: 30px;
    }

    .content-news-item-main-1-content{
        height: 400px;
        margin-top: -400px;

    }

    .content-news-item-main-1 img {
        height: 400px;
    }
    .content-news-item-main-2 img {
        height: 400px;
    }

    .content-news-item-main-3 img {
        height: 400px;
    }

    .content-news-item-main-2 .content-news-item-main-1-news-title{
        margin-top: 300px;
    }

    .content-news-item-main-3 .content-news-item-main-1-news-title{
        margin-top: 300px;
    }

    .news-block-content .title {
        margin-top: 210px;
        font-size: 30px;
    }

    .news-block-content .date {

        margin-top: 5px;
        font-size: 17px;
    }

    .team-page-content{
        width: 426px;
    }

	.content-team-item-main-1-title a{
		font-size: 20px;
	}

	.content-team-item-main-1-title{
		font-size: 20px;
	}

	.cat-item{
        text-align: center;
        padding-left: 0;
        margin-left: 0;
		min-width: 426px;

	}

	.player-item{
		min-width: 426px;
}

    .player-content{
        height: 800px;
   background: linear-gradient(to right, rgba(41,43,56,0.1) 0%, rgba(41,43,56,1) 70%);
    }

    .content-left{
        width: 0;
        padding: 0;
        margin: 0;
    }

    .player-page{
        background-attachment: fixed;
    }

    .content-right{
        padding-top: 70px;
        width: 426px;
    }

    .player-page{
        height: auto;
    }

    .stadium-content{
        padding-top: 70px;
        height: 815px;
    }

	.stadium-content-block-content{
        height: 745px;
        padding-top: 20px;
		width: 426px;

	}

    .short-info{
        margin-top: 10px;
    }

    .text-info{
        height: auto;
    }




	.stadium-content-block-content{
		background: rgba(255,255,255,0.85);
	}


    .ars-kids{
        padding-top: 135px;
        height: 400px;
    }

    .ars-kids img{
        height: 180px;
        width: auto;
    }

    #history-slide-info img{
        width: 150px;
        margin-top: 80px;
        margin-bottom: 40px;
    }

    .text-year{
        display: none;
    }

	.text-left, .text-right{
		width: 426px;
	}

	.text-t{
		padding-left: 30px;
        padding-right: 30px;
		width: 426px;
	}



	.selected-news-title{

		padding-left: 30px;
		padding-right: 30px;
        line-height: 35px;
		font-size: 30px;
		text-align: left;

	}

    .selected-news-text img{
        width: 380px;
    }

	.selected-news-date{
        line-height: 24px;
		text-align: left;
		padding-left: 0px;
	}

	#history-slide-header{
		padding-top: calc(50vh - 60px);
		text-align: center;

		line-height: 65px;
	}


	#history-slide-header a{
		color: white;
		font-size: 30px;
		clear: both;
	}

	#history-slide-info{
		padding-top: 20px;
	}

    .album-page{
        padding-top: 70px;
    }

	.album-item{
		min-width: 426px;
	}

	.content-news-item-main-1{
		min-width: 426px;
	}

	.content-news-item-main-2{
		min-width: 426px;
	}

	.content-news-item-main-3{
		min-width: 426px;
	}

	.news-block{
		min-width: 426px;
	}

	.selected-news-text{
		width: 100%;
	}

    #map{
        display: none;
    }

    .right-cont{
        padding-top: 70px;
        width: 426px;
    }

    .team-photo{
        height: 400px;
    }

}







@media only screen and (min-device-width : 426px) and (max-device-width : 768px)
{


    .mobile-menu ul{
        width: 768px;
    }
    .mobile-menu{
        width: 768px;
    }

    #s-2-content-scroll{
        display: none;
        opacity: 0;
        visibility: hidden;
    }

    .mobile-menu ul li img{
        margin-right: 359px;
    }

    .mobile-menu ul li i{
        color: white;
    }

    .content-area{
        width: 768px;
        float: none;
    }

    body{
        max-width: 768px;
        min-width: 0;
    }

    .mobile-menu {
        display: block;
    }

    .menu-area {
        display: none;
    }

    .add-content-menu{
        display: none;
    }
    .content-area{
        width: 768px;
    }

    .s-1-content-left-title{
        display: none;
    }

    .s-1-content-left-date{
        display: none;
    }


    .section-1{
        padding-top: 70px;
        height: auto;
    }

    .s-1-content-left{
        padding: 0;
        width: 768px;
        padding-top: 0px;
    }
    .s-1-content-left-title{
        width: 768px;
        text-align: center;
    }
    .s-1-content-left-date{
        text-align: center;
        height: 40px;
    }
    .s-1-content-left-news-item{
        width: 768px;
        height: 400px;
    }

    .s-1-content-left-news-item-date{

        font-size: 15px;
        width: 768px;
        text-align: left;
        padding: 0;
        margin: 0;
        padding-left: 30px;
        padding-right: 30px;
    }

    .s-1-content-left-news-item-title{

        font-size: 30px;
        width: 768px;
        text-align: left;
        padding: 0;
        margin: 0;
        padding-left: 30px;
        padding-right: 30px;
    }


    .s-1-content-left-news-item-overflow{
        padding: 0;
        padding-top: 300px;
        margin-top: -400px;
        height: 400px;
    }

    .section-2{
        width: 768px;
        height: 520px;
        background-color: white;
        padding-top: 20px;
    }

    .section-2-content-left{
        padding-top: 0;
        padding-left: 20px;
        width: 383px;
        padding-right: 15px;
        font-size: 25px;
        line-height: 27px;
        font-weight: 900;

    }
    .section-2-content-right{
        width: 383px;
        padding-right: 60px;
        padding-left: 20px;
        padding-top: 0px;
        font-size: 18px;
        line-height: 20px;
        font-weight: 400;

    }
    #section-2-content-divider{
        height: 160px;
    }

    .s-2-content-item{
        text-align: center;
        margin: 0;
        width: 200px;
        margin-top: 0px;
    }

    .s-2-content-item img{
        width: 150px;
        margin-bottom: 10px;
    }

    .section-3-content-match-item-team{
        padding-top: 20px;
        font-size: 20px;
    }

    .section-3-content-match-item-team img{
        margin-top: 10px;
        width: 80px;
        height: 80px;
    }

    .section-3-content-match-item-result{
        font-size: 18px;
    }

    span.score{
        font-size: 30px;
        font-weight: 700;
    }

    #section-3-content-match-container{
        height: 212px;
    }

    .section-3{
        height: 355px;
        padding-top: 44px;
    }

    .tournament-table{
        width: 768px;
    }

    .tournament-table a{
        font-size: 20px;
    }

    .tournament-table td {
        font-size: 20px;
    }

    .tournament-table td img{
        margin-top: 6px;
    }

    .section-4{
        font-size: 30px;
        height: 1300px;
    }



    .news-page{
        padding-top: 70px;
        width: 768px;
    }

    .news-page-left{
        width: 768px;
        height: 70px;
        padding: 0;
        margin: 0;
        text-align: center;
        line-height: 70px;
    }

    #news-page-gallery{
        width: 768px;
    }

    .show-more{
        width: 768px;

    }

    .show-more-button{
        width: 768px;
        margin: 0;
        padding: 0;
        padding-top: 10px;
        padding-bottom: 15px;
    }


    .content-news-item-main-1{
        height: 400px;
    }

    .content-news-item-main-2{
        height: 400px;
    }

    .content-news-item-main-3{
        height: 400px;
    }

    .content-news-item-main-1-title{
        font-size: 25px;
        margin-top: 5px;
        margin-left: 30px;
    }



    .content-news-item-main-1-spacer{
        margin-top: 15px;
        margin-left: 30px;
    }

    .content-news-item-main-1-news-title{
        margin-top: 220px;
        margin-left: 30px;
    }

    .content-news-item-main-1-news-date{
        font-size: 20px;
        margin-top: 10px;
        margin-left: 30px;
    }

    .content-news-item-main-1-content{
        height: 400px;
        margin-top: -400px;

    }

    .content-news-item-main-1 img {
        height: 400px;
    }
    .content-news-item-main-2 img {
        height: 400px;
    }

    .content-news-item-main-3 img {
        height: 400px;
    }

    .content-news-item-main-2 .content-news-item-main-1-news-title{
        margin-top: 300px;
    }

    .content-news-item-main-3 .content-news-item-main-1-news-title{
        margin-top: 300px;
    }

    .news-block-content .title {
        margin-top: 210px;
        font-size: 30px;
    }

    .news-block-content .date {

        margin-top: 5px;
        font-size: 17px;
    }

    .team-page-content{
        width: 768px;
    }

    .content-team-item-main-1-title a{
        font-size: 20px;
    }

    .content-team-item-main-1-title{
        font-size: 20px;
    }

    .cat-item{
        text-align: center;
        padding-left: 0;
        margin-left: 0;
        min-width: 768px;

    }

    .player-item{
        width: 50%;
    }

    .player-content{
        height: 800px;
        background: linear-gradient(to right, rgba(41,43,56,0.1) 0%, rgba(41,43,56,1) 70%);
    }

    .content-left{
        width: 0;
        padding: 0;
        margin: 0;
    }

    .player-page{
        background-attachment: fixed;
    }

    .content-right{
        padding-top: 70px;
        width: 768px;
    }


    .player-page{
        height: auto;
    }

    .stadium-content{
        padding-top: 70px;
        height: 1000px;
    }

    .stadium-content-block-content{
        height: 930px;
        padding-top: 20px;
        width: 768px;

    }

    .short-info{
        margin-top: 10px;
    }

    .text-info{
        height: auto;
    }




    .stadium-content-block-content{
        background: rgba(255,255,255,0.85);
    }


    .ars-kids{
        padding-top: 135px;
        height: 400px;
    }

    .ars-kids img{
        height: 180px;
        width: auto;
    }

    #history-slide-info img{
        width: 150px;
        margin-top: 80px;
        margin-bottom: 40px;
    }

    .text-year{
        display: none;
    }

    .text-left, .text-right{
        width: 768px;
    }

    .text-t{
        padding-left: 30px;
        padding-right: 30px;
        width: 768px;
    }



    .selected-news-title{

        padding-left: 30px;
        padding-right: 30px;
        line-height: 35px;
        font-size: 30px;
        text-align: left;

    }

    .selected-news-text img{
        width: 380px;
    }

    .selected-news-date{
        line-height: 24px;
        text-align: left;
        padding-left: 0px;
    }

    #history-slide-header{
        padding-top: calc(50vh - 60px);
        text-align: center;

        line-height: 65px;
    }


    #history-slide-header a{
        color: white;
        font-size: 30px;
        clear: both;
    }

    #history-slide-info{
        padding-top: 20px;
    }

    .album-page{
        padding-top: 70px;
    }

    .album-item{
        min-width: 768px;
    }

    .content-news-item-main-1{
        min-width: 768px;
    }

    .content-news-item-main-2{
        min-width: 768px;
    }

    .content-news-item-main-3{
        min-width: 768px;
    }

    .news-block{
        min-width: 768px;
    }

    .selected-news-text{
        width: 100%;
    }

    #map{
        display: none;
    }

    .right-cont{
        padding-top: 70px;
        width: 768px;
    }

    .team-photo{
        height: 400px;
    }

}





@media only screen and (max-width: 1800px){



	.player-item{
		width: 20%;
	}



}

@media only screen and (max-width: 1600px){
	.news-block{
		width: 25%;
	}



	.player-item{
		width: 25%;
	}
}


@media only screen and (max-width: 1250px){

	.album-item{
		width: 50%;
	}

	.news-block{
		width: 25%;
	}



	.player-item{
		width: 33.333%;
	}
}

@media only screen and (max-width: 1000px){


	.news-block{
		width: 50%;
	}




	.player-item{
		width: 50%;
	}
}

@keyframes appear {
	from { opacity: 0}
	to { opacity: 1}
}


.matches-page{

    height: 700px;
    padding-top: 20px;
    width: 100%;
    text-align: center;
    font-size: 40px;
}

.m-spacer{
    height: 30px;
}

.match-item{

    line-height: 65px;
    font-size: 30px;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 2px;
    height: 65px;
    background: #ebebeb;
}

.home-match{
    text-transform: uppercase;
    font-size: 25px;
    line-height: 65px;
    width: 55px;
    height: 65px;
    background: black;
    color: white;
    float: left;
}

.date-match{
    text-transform: capitalize;
    font-size: 15px;
    line-height: 65px;
    width: 20%;
    height: 65px;
    color: black;
    float: left;
}

.team1-match{
    text-transform: capitalize;
    font-size: 15px;
    line-height: 65px;
    width: 20%;
    height: 65px;
    color: black;
    float: left;
}

.team2-match{
    text-transform: capitalize;
    font-size: 15px;
    line-height: 65px;
    width: 20%;
    height: 65px;
    color: black;
    float: left;
}

.score1-match{
    text-transform: capitalize;
    font-size: 20px;
    line-height: 65px;
    width: calc(20% - 40px);
    height: 65px;
    color: black;
    float: left;
}

.div-match{
    font-size: 25px;
    float: left;
    width: 5px;
    height: 65px;
    line-height: 59px;
}
.score2-match{
    text-transform: capitalize;
    font-size: 20px;
    line-height: 65px;
    width: calc(20% - 40px);
    height: 65px;
    color: black;
    float: left;
}